unittest2==0.5.1
Flask==0.9
Werkzeug==0.8.3
Jinja2==2.6
Flask-Assets==0.7
webassets==0.7
jsmin==2.0.2
cssmin==0.1.4
Flask-WTF==0.8
WTForms==1.0.2
Flask-Script==0.5.1
Flask-Mail==0.7.3
blinker==1.2
Flask-Cache==0.9.0
Fabric==1.4.3
ssh==1.7.14
pycrypto==2.6
python-memcached==1.48
